<form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">

    <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="Description">
      price
    </label>
    <input id="description" type="text" formControlName="price">
  </div>

  <div>
    <label for="description">
      description
    </label>
    <input id="description" type="text" formControlName="description">
  </div>
    
    <button class="button" type="submit">Purchase</button>

</form>


<a routerlink=''> asfasfsa </a>